/* Slush Pro Mobile CSS */
.tiled-gallery-caption {
	display: none !important;
}
span.indicator {
	display: none;
}
.desktop_menu .zp_before_header_nav .mobile_menu.navbar-default{
	display: none;
}

.desktop_menu .zp_before_header_nav nav.nav-primary ul.menu.genesis-nav-menu {
    left: 0;
}
.desktop_menu  .zp_before_header_nav nav.nav-primary {
    overflow: visible;
}

@media only screen and (max-width: 1280px) {
.container,
.footer-widgets,
.column_split_block_wrap.custom_wrap,
.section_template .section_block > div:not(.hero_fullwidth),
.hero_left .hero_block,
.hero_right .hero_block,
.hero_center .hero_block,
.custom_shortcode_wrap.custom_wrap,
.section_header_wrap {
    width: 100%;
    max-width: 100%;
}
.custom_shortcode_block{
	padding: 0 20px;
}
}

/* For Ipad Landscape */
@media only screen and (max-width: 1024px) {
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3 {
		padding: 0 20px;
	}
	.blog_comment,
	.entry-comments-link,
	.zp_like_holder,
	.zp_post_read,
	.zp_post_view {
		display: inline-block;
	}
	.archive-pagination {
		padding: 0 15%;
	}
	.img-circle {
		height: auto !important;
	}
	.content-sidebar .content,
	.content-sidebar .sidebar,
	.sidebar-content .content,
	.sidebar-content .sidebar {
		float: left;
		margin-left: 8.33333%;
		margin-right: 0;
		width: 83.3333%;
	}
	.sidebar {
		margin-top: 40px;
	}
	.zpps-post-slider .post_slide_content .entry-title {
		font-size: 30px !important;
	}
	.nav-primary .genesis-nav-menu {
		display: none;
	}
	.zp_secondary_nav_wrap.navbar {
		display: none;
	}
	.mobile_menu {
		display: block;
	}
	.mobile_menu .navbar-toggle {
		display: block;
	}
	.nav-primary .mobile_menu {
		background-color: rgba(0, 0, 0, 0);
		display: block;
		float: right;
		margin: 0;
		padding: 0;
		position: absolute;
		right: 0;
		top: 20px;
		width: auto;
	}
	.navbar .nav > li:hover > ul {
		top: 0;	
	}
	.nav-primary .menu {
		display: none;
	}
	.nav-primary {
		float: left;
		margin-bottom: 0;
		padding: 0;
		width: 100%;
	}
	.nav-primary .mobile_menu .navbar-toggle {
		border: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow:    none;
		-o-box-shadow:      none;
		box-shadow:         none;
		float: left;
		margin-left: 12px;
		-webkit-transition: all 500ms cubic-bezier(0.165,.84,.44,1);
		-moz-transition:    all 500ms cubic-bezier(0.165,.84,.44,1);
		transition:         all 500ms cubic-bezier(0.165,.84,.44,1);
	}
	.nav-primary .mobile_menu .navbar-toggle:active,
	.nav-primary .mobile_menu .navbar-toggle:focus,
	.nav-primary .mobile_menu .navbar-toggle:hover,
	.nav-primary .mobile_menu .navbar-toggle:visited {
		background-color: rgba(0, 0, 0, 0);
		border: 0;
		box-shadow: none;
	}
	.mobile_menu .zp_close {
		padding: 15px 10px;
	}
	.mobile_menu .zp-icon-label {
		float: left;
		color: #888;
		margin-left: 28px;
	}
	.mobile_menu .icon-first,
	.mobile_menu .icon-second,
	.mobile_menu .icon-third {
		-webkit-transform: rotate(0);
		-moz-transform:    rotate(0);
		-ms-transform:     rotate(0);
		-o-transform:      rotate(0);
		transform:         rotate(0);
		-webkit-transition: all 500ms cubic-bezier(0.165,.84,.44,1);
		-moz-transition:    all 500ms cubic-bezier(0.165,.84,.44,1);
		transition:         all 500ms cubic-bezier(0.165,.84,.44,1);
	}
	.mobile_menu .zp_close .icon-third {
		display: none;
		-webkit-transition: all 500ms cubic-bezier(0.165,.84,.44,1);
		-moz-transition:    all 500ms cubic-bezier(0.165,.84,.44,1);
		transition:         all 500ms cubic-bezier(0.165,.84,.44,1);
	}
	.mobile_menu .zp_close .icon-second {
		margin-top: -2px;
		-webkit-transform: rotate(-45deg);
		-moz-transform:    rotate(-45deg);
		-ms-transform:     rotate(-45deg);
		-o-transform:      rotate(-45deg);
		transform:         rotate(-45deg);
		-webkit-transition: all 500ms cubic-bezier(0.165,.84,.44,1);
		-moz-transition:    all 500ms cubic-bezier(0.165,.84,.44,1);
		transition:         all 500ms cubic-bezier(0.165,.84,.44,1);
	}
	.mobile_menu .zp_close .icon-first {
		-webkit-transform: rotate(45deg);
		-moz-transform:    rotate(45deg);
		-ms-transform:     rotate(45deg);
		-o-transform:      rotate(45deg);
		transform:         rotate(45deg);
		-webkit-transition: all 500ms cubic-bezier(0.165,.84,.44,1);
		-moz-transition:    all 500ms cubic-bezier(0.165,.84,.44,1);
		transition:         all 500ms cubic-bezier(0.165,.84,.44,1);
	}
	.nav-primary .menu {
		float: left;
		margin: 0 0 20px;
		width: 100%;
	}
	.navbar .nav > li {
		border-top: 1px solid #eee;
		border: 0;
		display: block;
		margin-left: 0;
		margin-top: -1px;
		padding-bottom: 5px;
		padding-left: 0;
		padding-top: 5px;
		text-align: left;
		width: 100%;
	}
	.navbar .nav > li:first-child {
		border-radius: 0;
		border-top: 0;
	}
	.navbar .nav > li > a:before {
		display: none;
	}
	.navbar .nav > li > ul {
		background: rgba(0, 0, 0, 0);
		border: 0;
		box-shadow: none;
		opacity: 1;
		padding-left: 0;
		padding-top: 0;
		position: relative;
		text-indent: 0px;
		-webkit-transform: scale(1);
		-webkit-transform-origin: 0 0;
		-webkit-transition: none;
		-moz-transition:    none;
		-o-transition:      none;
		transition:         none;
		visibility: visible;
	}
	.navbar .nav ul li {
		background-color: rgba(0, 0, 0, 0);
		border-bottom: 0;
		border-top: 1px solid #eee;
		padding-left: 0;
	}
	.navbar .nav ul a {
		color: #404040;
		font-size: 16px;
	}
	.navbar .nav > li > ul:before {
		display: none;
	}
	.nav-primary .menu>li.menu-item-has-children::after {
		display: none;
	}
	.navbar .nav ul.sub-menu li a {
		padding-left:	40px;
	}
	.navbar .nav > li:last-child {
		border-bottom: 1px solid #eee;
	}
	.zp_masonry_template main.content {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.navbar .nav > li > ul li ul {
		border: 0;
		box-shadow: none;
		left: 0;
		margin-top: 10px;
		opacity: 1;
		position: relative;
		visibility: visible;
	}
	.sidebar .widget-wrap, .home-right .widget-wrap {
	    padding: 0;
	}body.error404 .entry-title {
	    font-size: 5em;
	}
	.desktop_menu .zp_before_header_nav .mobile_menu.navbar-default{
		display: block;
	}
}
@media only screen and (max-width: 991px) {
	.content-sidebar .content,
	.content-sidebar .sidebar,
	.sidebar-content .content,
	.sidebar-content .sidebar {
		float: left;
		margin-left: 0;
		margin-right: 0;
		padding: 0 20px;
		width: 100%;
	}
	.home-widget {
		padding: 0 20px;
	}
	.full-width-content .content {
		float: left;
		margin-left: 0;
		padding: 0 20px;
		width: 100%;
	}
	.zp-post-box .post_layout_3:first-child .entry-title {
		font-size: 30px;
		font-size: 3rem;
	}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	    width: 48% !important;
	    margin-right: 0 !important;
	}
	.woocommerce ul.products li.product:nth-child(2n + 1), .woocommerce-page ul.products li.product:nth-child(2n + 1) {
	    margin-right: 4% !important;
	}
	.footer-widgets .wrap {
		padding: 3% 0;
	}
}
/* For Ipad Portrait */
@media only screen and (max-width: 768px) {
	.container {
		max-width: 100%;
		width: 100%;
	}
	.attachment.single .content_container,
	.page .page,
	.single-post .content_container {
		padding: 40px 0;
	}
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3 {
		padding: 40px 10px;
		width: 100%;
	}
	.zp_footer_left.col-md-4 {
		margin-bottom: 20px;
		text-align: center;
	}
	.site-footer .zp_footer_right .creds {
		display: block;
		float: none;
		line-height: 34px;
		margin-bottom: 20px;
		text-align: center;
		white-space: normal;
		word-break: break-word;
	}
	.zp_footer_right.col-md-8 {
		text-align: center;
		white-space: nowrap;
		word-break: break-word;
	}
	.site-footer .zp_footer_right .bottom-widget .widget_nav_menu,
	.site-footer .zp_footer_right .bottom-widget {
		float: none;
	}
	.bottom-widget .widget_nav_menu ul {
		display: inline-block;
		margin: 0;
		padding: 0;	
	}
	.home-left {
	    float: left;
	    width: 100%;
	    margin-right: 0;
	}
	.home-right {
	    width: 100%;
	    float: right;
	}
	.zp-post-sidebar img{
		width: 100%;
	}
	.column_split_block_image,
	.column_split_block_wrap .column_split_block_video,
	.column_split_block_wrap .column_split_block_slider,
	.column_split_block{
		width: 100%;
	}
	.zp_before_header_nav_wrap{
		padding: 0 20px;
	}
	.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
	    width: 100%;
	}
	.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
	    width: 100%;
	}
	.woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-1, .woocommerce-page .col2-set .col-2 {
	    margin-bottom: 40px;
	}
	.slider_section_caption_wrap h4 {
	    font-size: 30px;
	    font-size: 3rem;
	}
}
@media only screen and (max-width: 760px) {
	.zp_sticky_header {
		display: none !important;
	}
	.archive-pagination ul {
		padding: 8% 20%;
	}
	.column_wrapper > div {
		margin-bottom: 20px;
	}
	.zpps-post-slider .post_slide_content .entry-title {
		font-size: 22px !important;
	}
	#header.site-header{
		float: left;
	}
	.home-widget {
	    padding: 0;
	}
	.slider_section_caption_wrap > * {
	    max-width: 90%;
	}
}
@media only screen and (max-width: 600px) {
	.zp-post-box .post_layout_3 {
		margin-right: 0;
		max-width: 100%;
		width: 100%;
	}
	.zp-post-box .post_layout_2 {
		margin-left: 0;
		max-width: 100%;
		width: 100%;
	}
	h1.entry-title,
	.format-link h2,
	.format-quote .entry-content > h2,
	.single_portfolio_title h1 {
		font-size: 30px;
		font-size: 3rem;
	}
	.content_container {
		padding: 40px 20px;
	}
	.archive-pagination ul {
		padding: 20px;
	}
	.single_portfolio_container.single_portfolio_content {
		float: left;
		overflow: hidden;
		padding: 0 30px 50px;
	}
	.single_portfolio_title.col-md-12 {
		padding: 40px 30px 0;
	}
	.after-entry.widget-area {
		padding: 30px 0;
	}
	.comment-respond,
	.entry-comments {
		padding: 30px 0;
	}
	.archive.woocommerce-page .content {
		padding: 40px 20px;
	}
	.woocommerce div.product {
		padding: 40px 0;
	}
	.page-template-masonry_template .intro {
		max-width: 100%;
		text-align: center;
	}
	.intro {
		padding: 20px 20px;
	}
	.archive-pagination {
		padding: 0;
	}
	.entry-content blockquote {
		margin: 45px 0 45px 0;
		padding: 25px;
	}
	.header_two .title-area {
		float: none;
		margin: 0;
		text-align: center;
		width: 100%;
	}
	h3.hero_block_title, .section_header_text h2,
	h4.column_split_block_title  {
	    font-size: 30px;
	    font-size: 3rem;
	}
	.column_block{
		width: 100% !important;
	}
	.zpps-post-slider .post_slide_content {
		width: 100%;
	    height: auto;
	    background: rgba(255, 255, 255, 0.95);
	    padding: 40px 15px;
	    transform: translateX(0);
	    -moz-transform: translateX(0);
	    -webkit-transform: translateX(0);
	    -o-transform: translateX(0);
	    margin-top: 0;
	    text-align: center;
	    z-index: 99;
	    margin-left: auto;
	    margin-right: auto;
	}
	.single_portfolio_nav, .single_post_nav {
		display: none;
	}
	.comment-respond input[type="email"], .comment-respond input[type="text"], .comment-respond input[type="url"] {
	    width: 100%;
	}
	body.error404 .entry-title {
	    font-size: 3em;
	}
	.woocommerce-cart #payment, .woocommerce-checkout #payment, #add_payment_method #payment {
	    padding: 10px;
	}
}
/* For Iphone/Smaller Screen Landscape */
@media only screen and (max-width: 480px) {
	.site-title {
		padding: 20px 0;
	}
	.nav-primary .mobile_menu {
		top: 6px;
	}
	.title-area {
		margin-bottom: 0;
		width: auto;
	}
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3 {
		margin-bottom: 30px;
    	padding: 0 10px;
	}
	.site-footer {
		padding: 50px 10%;
	}
	h1.entry-title,
	.format-link h2,
	.format-quote .entry-content > h2 {
		font-size: 30px;
	}
	.author-box {
		padding: 50px 20px;
	}
	a img.alignright {
		margin: 5px 20px 24px 0;
	}
	a img.alignleft {
		margin: 5px 0 24px 20px;
	}
	.wp-caption.alignright,
	.wp-caption.alignleft {
		margin: 5px 20px 24px 20px;
	}
	.jp-jplayer,
	.jp-jplayer img {
		height: auto !important;
	}
	.single_portfolio_container.single_portfolio_content {
		padding: 0 0 30px;
	}
	.single_portfolio_title.col-md-12 {
		padding: 30px 0 0;
	}
	.single-post .content_container {
		padding: 30px 0;
	}
	.author-box-content > p {
		padding: 0;
	}
	.zpps-post-slider .post_slide_content .entry-title {
		font-size: 22px !important;
	}

	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product {
		width: 100% !important;
	}
	.woocommerce #reviews #comments ol.commentlist {
		padding-left: 0;
	}
	span.entry-footer-right {
		display: inline-block;
		float: left;
		text-align: left;
		width: 100%;
	}
	span.entry-footer-left {
		display: inline-block;
		float: left;
		width: 100%;
	}
	#header.site-header {
		margin: 0 auto 20px;
	}
	.layout_section > .container {
		margin: 0;
		max-width: 100%;
		padding: 0;
		width: 100%;
	}
	.zpps-post-slider .swiper-button-next,
	.zpps-post-slider .swiper-button-prev{
		top: 35%;
	}
	.zp-post-box .post_layout_3:first-child .entry-title {
	    font-size: 20px;
	    font-size: 2rem;
	}
	.footer-widgets{
		padding: 50px 15px;
	}
	a#top-link {
	    display: none !important;
	}
	.hero_center span.hero_block_desc {
	    max-width: 90%;
	}
	.column_split_block{
		padding: 0;
	}
	.zp_before_header_search.right.search {
	    width: 180px;
	}
	.zp_before_header_search span.zp_search_icon {
	    top: 10px;
	}
	.title-area {
	    padding-top: 40px;
	    padding-bottom: 40px;
	}
	.zpps-post-slider div.entry-content p{
		max-width: 100%;
	}
}
/* For Iphone/Smaller Screen Landscape */
@media only screen and (max-width: 320px) {
	.sliding_panel_trigger_small {
		display: block;
	}
	.zp-sliding-sidebar-wrap {
		left: -315px;
		width: 315px;
	}
	.sliding_panel_trigger.open_sidebar {
		left: 315px;
	}
	.zpps-post-slider .post_slide_content {
		width: 100%;
	}
	.title-area h1.site-title, .title-area p.site-title, .site-footer .footer_logo {
	    font-size: 20px;
	}
}
